.figureBorder {
  border-top: 2px dotted theme('colors.cream.light');
  border-bottom: 2px dotted theme('colors.cream.light');
}

.imageContainer {
  @apply w-11/12 max-w-article-img md:max-w-full md:h-auto mx-auto my-4 rounded-lg shadow-article-img overflow-hidden;
  
  > div {
    display: block !important;
  }
}

.dynamicContainer {
  text-align: left;
  width: 100%;
  
  h3 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    font-weight: 700;
  }

  p {
    padding: 0.5rem 0;
  }

  ul > li {
    padding: 0.25rem 0;
    &::before {
      content: "\2022";
      color: #ce800c;
      font-size: 1em;
      margin-right: 0.5rem;
      font-weight: bold;
    }

    ul > li{
      padding: 0.5rem 0 0.5rem 2rem;
      
      &::before {
        content: "";
        font-size: 0;
        margin-right: unset;
      }
    }
  }

  figure {
    @extend .figureBorder;
    position: relative;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0.75rem auto;
    padding: 0.5rem 0;

    @media (min-width: theme('screens.md')) {
      max-width: 75%;
    }

    @media (min-width: theme('screens.lg')) {
      max-width: 50%;
    }

    img {
      display: block;
      width: 85%;
      max-width: 400px;
      height: auto;
      margin: 0 auto;

      @media (min-width: theme('screens.md')) {
        max-width: 100%;
      }
    }

    figcaption {
      font-size: 0.7rem;
      width: 85%;
      position: absolute;
      bottom: 0.5rem;
      left: 7.5%;
      background: rgba(0, 0, 0, 0.75);
      color: #fff;
      padding: 0.5rem;
      font-style: italic;
      text-align: center;
    }
  }

  a[data-icon="pdf"] {
    text-decoration: underline;
    font-style: italic;
    &::before {
      font-family: "Font Awesome\ 5 Free";
      font-weight: 900;
      content: "";
      color: #8f320e;
      margin-right: 1rem;
      font-size: 1.5rem;
      font-style: normal;
    }
  }
}